[user]
	name = Hammed Oyedele
	email = itz.harmid@gmail.com
	username = devhammed
	signingkey = 990729A301F44E5C
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
	gpgSign = true
[pull]
	rebase = false
[core]
	sshCommand = "ssh -i ~/.ssh/id_personal"
	excludesFile = ~/.gitignore
